<div style="background-color:#f0f2f5" class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Auction Finder</h3>
        </div>

        <ul class="list-unstyled components">
            <!-- <p>Dummy Heading</p> -->
            <li>
                <a [routerLink]="['/home']">Home</a>
            </li>
            <li>
                <a *ngIf="(isLogged | async)" class="nav-link" [routerLink]="['/account']">Account</a>
            </li>
            <li>
                <a *ngIf="!(isLogged | async)" class="nav-link" [routerLink]="[]" (click)="login()">Login</a>
            </li>
            <li>
                <a *ngIf="(isLogged | async)" class="nav-link" [routerLink]="[]" (click)="logout()">Logout</a>
            </li>
        </ul>

        <ul class="list-unstyled componentsFooter">
            <li>
                <a>About</a>
            </li>
            <li>
                <a>Contact</a>
            </li>
        </ul>
    </nav>

    <!-- TODO fix footer css -->

    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>