<main>
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Subskrypcje</h3>
        <div class="pull-right">
        </div>
      </div>
      <table class="table table-hover sortable">
          <thead>
              <tr>
                <th>Nazwa:</th>
                <th>Liczba znalezionych aukcji:</th>
                <th>Data utworzenia:</th>
              </tr>
            </thead>
            <tbody>
                <tr (click)="chooseSubscription()" *ngFor='let subscription of subscriptions'>
                  <td>{{subscription.itemName}}</td>
                  <td>{{subscription.numberOfFoundItems}}</td>
                  <td>{{subscription.creationDate}}</td>
                </tr>
              </tbody>
      </table>
    </div>
  </div>
</main>