<main>
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-xs-12 col-sm-12" style="font-size : 20px;color:#d9d9d9">
        Account page: {{accountData}}

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nazwa:</th>
              <th>Liczba znalezionych aukcji:</th>
              <th>Data utworzenia:</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor='let subscription of subscriptions'>
              <td>{{subscription}}</td>
              <td>{{subscription}}</td>
              <td>{{subscription}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>