<main>
  <div class="container">
    <div style="border-width: medium" class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" style="text-align:center">Subskrypcje</h3>
        <div class="pull-right">
        </div>
      </div>
      <!-- <collapsible-table class="table table-hover" [type]="expanded">
        <thead>
          <collapsible-table-row>
            <th>Nazwa:</th>
            <th>Liczba znalezionych aukcji:</th>
            <th>Data utworzenia:</th>
          </collapsible-table-row>
        </thead>

        <tbody *ngFor='let subscription of subscriptions'>
          <collapsible-table-row [detail]="details">
            <td>{{subscription.itemName}}</td>
            <td>{{subscription.numberOfFoundItems}}</td>
            <td>{{subscription.creationDate}}</td>
          </collapsible-table-row>
          <collapsible-table-row-detail #details>
            <p>Row Detail</p>
            <p>Row Detail</p>
            <p>Row Detail</p>
            <p>Row Detail</p>
            <p>Row Detail</p>
          </collapsible-table-row-detail>

        </tbody>
      </collapsible-table> -->
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

</main>